@model KooliProjekt.Models.NutrientsIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <div class="form-group">
        <label class="control-label">Name:</label>
        <input asp-for="Search.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label">Sugar:</label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Search.MinSugar" class="form-control" placeholder="Min" />
            </div>
            <div class="col-md-6">
                <input asp-for="Search.MaxSugar" class="form-control" placeholder="Max" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Fat:</label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Search.MinFat" class="form-control" placeholder="Min" />
            </div>
            <div class="col-md-6">
                <input asp-for="Search.MaxFat" class="form-control" placeholder="Max" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Carbohydrates:</label>
        <div class="row">
            <div class="col-md-6">
                <input asp-for="Search.MinCarbohydrates" class="form-control" placeholder="Min" />
            </div>
            <div class="col-md-6">
                <input asp-for="Search.MaxCarbohydrates" class="form-control" placeholder="Max" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Search</button>
        <a asp-controller="Nutrients" asp-action="Index" class="btn btn-primary">Reset</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].Sugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Results[0].Carbohydrates)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carbohydrates)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Data != null)
{
    @(await Component.InvokeAsync<PagerViewComponent>(Model.Data))
}
